.fh5co-cover .fh5co-overlay, .fh5co-hero .fh5co-overlay {
    position: static!important;
}



#fh5co-testimonial {
    position: relative;
    background: #F07E42;
}

#fh5co-testimonial .box-testimony blockquote .quote {
    background: #3A3F46;
}
.bgvid  {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    overflow: hidden;
    height: 10em;
}