/*         Just for demo     */
body {
  padding: 10px;
  text-align: center;
  background:f4f4f4;
}
#carousel-example-generic {
  display: inline-block;
  width:100%;
}
/*****************************/

/* Plugin styles */
ul.thumbnails-carousel {
	padding: 5px 0 0 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
ul.thumbnails-carousel .center {
	display: inline-block;
}
ul.thumbnails-carousel li {
	margin-right: 5px;
	float: left;
	cursor: pointer;
}
.controls-background-reset {
	background: none !important;
}
.active-thumbnail {
	opacity: 0.4;
}
.indicators-fix {
	bottom: 120px;
}

.left-sidebar{
  border:#393E46 solid 1px;
  height:600px;
  margin-right: 3px;
  width: 24%;
}

.right-sidebar{
  border:#393E46 solid 1px;
  height:600px;
  width: 24%;
}

.center_content{
  border:#393E46 solid 1px;
  height:600px;
  margin-right: 3px;
  width: 50%;
}

.info-container{
	padding: 100px;
}
.info{
	border: black solid 1px;
	height:150px;
	margin-right:10px ;
	margin-bottom:10px;
}


body {
	color: #666666;
	font-size: 13px;
	line-height: 23px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 2px 0px;
	padding: 0px;
	    
}
h1 {
	font-size: 30px;
	line-height: 45px;
}
h2 {
	font-size: 25px;
	line-height: 40px;
}
h3 {
	font-size: 22px;
	line-height: 37px;
}
h4 {
	font-size: 18px;
	line-height: 33px;
}
h5 {
	font-size: 15px;
	line-height: 30px;
}
h6 {
	font-size: 13px;
	line-height: 28px;
}
p {
	margin: 2px 0px;
	padding: 0px;
	margin-bottom:5px;
	line-height:28px;
}
a{
	text-decoration: none;
	color: #777;
}
a:hover,a:active,a:focus {
	outline: 0;
	text-decoration: none;
	color: #999;
}
hr {
	margin: 10px 0px;
	padding: 0px;
	border-top: 0px;
	border-bottom: 1px solid #eee;
}
:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}
/* Text color classes */
.white {
  color: #ffffff !important;
}
.grey {
  color: #eeeeee !important;
}
.black {
  color: #555555 !important;
}
.red {
  color: #f75353 !important;
}
.green {
  color: #51d466 !important;
}
.lblue {
  color: #32c8de !important;
}
.blue {
  color: #609cec !important;
}
.orange {
  color: #f78153 !important;
}
.yellow {
  color: #fcd419 !important;
}
.purple {
  color: #cb79e6 !important;
}
.rose {
  color: #ff61e7 !important;
}
.brown {
  color: #d08166 !important;
}
/* Background color classes */
.bg-white {
  background-color: #ffffff !important;
}
.bg-grey {
  background-color: #eeeeee !important;
}
.bg-black {
  background-color: #555555 !important;
}
.bg-red {
  background-color: #f75353 !important;
}
.bg-green {
  background-color: #51d466 !important;
}
.bg-lblue {
  background-color: #32c8de !important;
}
.bg-blue {
  background-color: #609cec !important;
}
.bg-orange {
  background-color: #f49a66 !important;
}
.bg-yellow {
  background-color: #fcd419 !important;
}
.bg-purple {
  background-color: #cb79e6 !important;
}
.bg-rose {
  background-color: #ff61e7 !important;
}
.bg-brown {
  background-color: #d08166 !important;
}
/* Border color classes */
.br-white {
  border: 1px solid #ffffff !important;
}
.br-grey {
  border: 1px solid #eeeeee;
}
.br-black {
  border: 1px solid #555555;
}
.br-red {
  border: 1px solid #f75353;
}
.br-green {
  border: 1px solid #51d466;
}
.br-lblue {
  border: 1px solid #32c8de;
}
.br-blue {
  border: 1px solid #609cec;
}
.br-orange {
  border: 1px solid #f78153;
}
.br-yellow {
  border: 1px solid #fcd419;
}
.br-purple {
  border: 1px solid #cb79e6;
}
.br-rose {
  border: 1px solid #ff61e7;
}
.br-brown {
  border: 1px solid #d08166;
}
/* Button classes */
.btn {
	border-radius: 2px;
	position: relative;
}
.btn.btn-no-border {
	border: 0px !important;
}
/* Button colors */
.btn.btn-white {
	background: #ffffff;
	color: #666666;
	border: 1px solid #dddddd;
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.active,
.btn.btn-white:active {
	background: #f7f7f7;
	color: #666666;
}
.btn.btn-grey {
	background: #eeeeee;
	color: #666666;
	border: 1px solid #d5d5d5;
}
.btn.btn-grey:hover,
.btn.btn-grey:focus,
.btn.btn-grey.active,
.btn.btn-grey:active {
	background: #d5d5d5;
	color: #999;
}
.btn.btn-black {
	color: #ffffff;
	background: #666666;
	border: 1px solid #4d4d4d;
}
.btn.btn-black:hover,
.btn.btn-black:focus,
.btn.btn-black.active,
.btn.btn-black:active {
	background: #4d4d4d;
	color: #ffffff;
}
.btn.btn-red {
	color: #ffffff;
	background: #ed5441;
	border: 1px solid #e52d16;
}
.btn.btn-red:hover,
.btn.btn-red:focus,
.btn.btn-red.active,
.btn.btn-red:active {
	color: #ffffff;
	background: #e52d16;
}
.btn.btn-green {
	color: #ffffff;
	background: #51d466;
	border: 1px solid #30c247;
}
.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green.active,
.btn.btn-green:active {
	background: #30c247;
	color: #ffffff;
}
.btn.btn-lblue {
	color: #ffffff;
	background: #32c8de;
	border: 1px solid #1faabe;
}
.btn.btn-lblue:hover,
.btn.btn-lblue:focus,
.btn.btn-lblue.active,
.btn.btn-lblue:active {
	background: #1faabe;
	color: #ffffff;
}
.btn.btn-blue {
	color: #ffffff;
	background: #609cec;
	border: 1px solid #3280e7;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus,
.btn.btn-blue.active,
.btn.btn-blue:active {
	background: #3280e7;
	color: #ffffff;
}
.btn.btn-orange {
	color: #ffffff;
	background: #f8a841;
	border: 1px solid #f69110;
}
.btn.btn-orange:hover,
.btn.btn-orange:focus,
.btn.btn-orange.active,
.btn.btn-orange:active {
	background: #f69110;
	color: #ffffff;
}
.btn.btn-yellow {
	background: #fcd419;
	color: #ffffff;
	border: 1px solid #dfb803;
}
.btn.btn-yellow:hover,
.btn.btn-yellow:focus,
.btn.btn-yellow.active,
.btn.btn-yellow:active {
	background: #dfb803;
	color: #ffffff;
}
.btn.btn-purple {
	background: #cb79e6;
	color: #ffffff;
	border: 1px solid #ba4ede;
}
.btn.btn-purple:hover,
.btn.btn-purple:focus,
.btn.btn-purple.active,
.btn.btn-purple:active {
	background: #ba4ede;
	color: #ffffff;
}
.btn.btn-rose {
	background: #ff61e7;
	color: #ffffff;
	border: 1px solid #ff2edf;
}
.btn.btn-rose:hover,
.btn.btn-rose:focus,
.btn.btn-rose.active,
.btn.btn-rose:active {
	background: #ff2edf;
	color: #ffffff;
}
.btn.btn-brown {
	background: #d08166;
	color: #ffffff;
	border: 1px solid #c4613f;
}
.btn.btn-brown:hover,
.btn.btn-brown:focus,
.btn.btn-brown.active,
.btn.btn-brown:active {
	background: #c4613f;
	color: #ffffff;
}
/* Label */
.label {
	border-radius: 2px;
	font-weight: normal;
	padding: 3px 7px;
	font-size: 12px;
	line-height: 18px;
}
/* Label sizes */
.label.label-xs {
	font-size: 10px;
	padding: 1px 5px;
	line-height: 12px;
}
.label.label-sm {
	font-size: 11px;
	padding: 2px 6px;
	line-height: 15px;
}
.label.label-lg {
	font-size: 13px;
	padding: 5px 9px;
	line-height: 23px;
}
/* Label colors */
.label.label-white{
	color: #666666 !important;
	background: #f7f7f7;
}
.label.label-grey {
	color: #666666 !important;
	background: #eeeeee;
}
.label.label-black {
	color: #ffffff;
	background: #666666;
}
.label.label-red {
	color: #ffffff;
	background: #ed5441;
}
.label.label-green {
	color: #ffffff;
	background: #51d466;
}
.label.label-lblue {
	color: #ffffff;
	background: #32c8de;
}
.label.label-blue {
	color: #ffffff;
	background: #609cec;
}
.label.label-orange {
	color: #ffffff;
	background: #f8a841;
}
.label.label-yellow {
	background: #fcd419;
	color: #ffffff;
}
.label.label-purple {
	background: #cb79e6;
	color: #ffffff;
}
.label.label-rose {
	background: #ff61e7;
	color: #ffffff;
}
.label.label-brown {
	background: #d08166;
	color: #ffffff;
}
/* Badges */
.badge {
	min-width: 10px;
	padding: 3px 7px !important;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	display: inline-block;
	color: #fff;
	border-radius: 10px;
}
.badge.badge-white {
	color: #666666;
	background: #ffffff;
}
.badge.badge-grey {
	color: #a2a2a2;
	background: #eeeeee;
}
.badge.badge-black {
	color: #ffffff;
	background: #666666;
}
.badge.badge-red {
	color: #ffffff;
	background: #ed5441;
}
.badge.badge-green {
	color: #ffffff;
	background: #51d466;
}
.badge.badge-lblue {
	color: #ffffff;
	background: #32c8de;
}
.badge.badge-blue {
	color: #ffffff;
	background: #609cec;
}
.badge.badge-orange {
	color: #ffffff;
	background: #f8a841;
}
.badge.badge-yellow {
	color: #ffffff;
	background: #fcd419;
}
.badge.badge-purple {
	color: #ffffff;
	background: #cb79e6;
}
.badge.badge-rose {
	color: #ffffff;
	background: #ff61e7;
}
.badge.badge-brown {
	color: #ffffff;
	background: #d08166;
}
.btn .badge {
	position: absolute;
	top: -13px;
	right: -8px;
}
/* Social Media */
.facebook {	background: #3280e7; }
.facebook:hover { background: #134fa0; }
.twitter { background: #32c8de;}
.twitter:hover {	background: #188392;}
.google-plus {background: #f96f4a;}
.google-plus:hover {	background: #eb6440;}
.linkedin  {	background: #729fda;}
.linkedin:hover {background: #3069b6;}
.pinterest {	background: #ed5441;}
.pinterest:hover { background: #b72411;}
.dropbox {background: #32c8de;}
.dropbox:hover {	background: #188392;}
.bitcoin {background: #f8a841;}
.bitcoin:hover {	background: #cc7607;}
.foursquare {background: #22bed4;}
.foursquare:hover {background: #146f7c;}
.flickr { background: #ff61e7;}
.flickr:hover {	background: #fa00d4;}
.github {background: #666666;}
.github:hover {	background: #333333;}
.instagram {	background: #d6917a;}
.instagram:hover {background: #b35637;}
.skype {background: #32c8de;}
.skype:hover {background: #188392;}
.tumblr {background: #84a1c8;}
.tumblr:hover {background: #476d9f;}
.vimeo {background: #32c8de;}
.vimeo:hover {background: #188392;}
.dribbble{background: #ff2edf;}
.dribbble:hover {background: #c700a9;}
.youtube {background: #ed5441;}
.youtube:hover {	background: #b72411;}

/* General CSS */
/* UI - X */
.ui-235{
	max-width: 1200px;
	margin: 60px auto;
}
/* Column Padding */
@media(max-width: 450px){
	.ui-235 .col-mob{
		width: 100%;
	}
}
.ui-235 .ui-item{
	margin: 15px auto;
	max-width: 300px;
}
/* Flip */
.ui-235 .ui-item .ui-flip {
	position: relative;
	transform-style: preserve-3d;
	transition: 1s transform;
	height:100%;
	padding: 32% 0px;
	box-shadow: inset 0px 0px 125px 0px rgba(0,0,0,0.1);
	text-align:center;
}
.ui-235 .ui-item .ui-flip h3{
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
}
.ui-235 .ui-item .ui-flip.front h3 > a{
	color: #fff;
}
.ui-235  .ui-item:hover .ui-flip { 
	transform: rotateY(.5turn); 
}
/* Item Hover */
.ui-235 .ui-item  .ui-flip .ui-hover {
	position: absolute;
	width: 100%; 
	height: 100%; 
	top: 0;
	padding: 12% 20px;
	transform: rotateY(.5turn) translateZ(1px);
	background: rgba(255,255,255,1);
	text-align: center;
	background: #f78153;
	opacity: 0;
	box-shadow: inset 0px 0px 125px 0px rgba(0,0,0,0.1);
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
	transition: all 0.5s;
}
@media(max-width: 840px) and (min-width: 768px){
	.ui-235 .ui-item .ui-flip .ui-hover{
		padding: 14% 10px;
	}
}
@media(max-width: 767px) and (min-width: 530px){
	.ui-235 .ui-item .ui-flip .ui-hover{
		padding: 22% 20px;
	}
}
@media(max-width: 450px) and (min-width: 278px){
	.ui-235 .ui-item .ui-flip .ui-hover{
		padding: 22% 20px;
	}
}
.ui-235 .ui-item:hover .ui-flip .ui-hover { 
	opacity: 1; 
}
.ui-235 .ui-flip.front .ui-hover {
	background: #fff;
}
/* Heading */
.ui-235  .ui-item  .ui-flip .ui-hover h4{
	font-size: 20px;
	line-height: 35px;
	text-transform: uppercase;
	font-weight:700;
}
.ui-235 .ui-item .ui-hover h4 > a{
	color: #fff;
}
.ui-235 .ui-flip.front .ui-hover h4 > a{
	color: #777;
}
/* Paragraph */
.ui-235  .ui-item  .ui-flip .ui-hover p{
	color: #999;
	font-size: 13px;
	line-height: 23px;
	color: #fff;
}
.ui-235  .ui-flip.front .ui-hover p{
	color: #999;
}



/**/
/**/

.item-grid1 {
  max-width: 100%;
  position: relative;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.item1 {
  position: relative;
  float: left;
  width: 25%;
  background-color: white;
  overflow: hidden;
}
.item1:after {
  content: '';
  display: block;
  background-color: inherit;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) translateZ(0) rotate(-28deg);
          transform: scale(2) translateX(-75%) translateY(-75%) translateZ(0) rotate(-28deg);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 3s cubic-bezier(0.23, 1, 0.32, 1);
}
.item1:hover:after {
  -webkit-transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
          transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
}
.item1:hover .item-image1 {
  -webkit-transform: scale(1.2) translateZ(0);
          transform: scale(1.2) translateZ(0);
}
.item1:hover .item-text1 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item-image1 {
	max-width: 100%;
    max-height: 100%;
    height: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 750ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
}
.item-image1::before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.item-image1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.item-text1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #ffffff;
  -webkit-transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.item-text-wrapper1 {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.item-text-title1 {
  font-weight: normal;
  font-style: 16px;
  padding: 0 15px;
  margin: 5px 0 0 0;
  color: white;
}

.item-text-dek1 {
  text-transform: uppercase;
  font-style: 14px;
  font-size: 50px;
  margin: 0;
  color: white;
}

.item-link1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

/**/



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post__avatar, .comment-form__avatar {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.comment-form .comment-form__actions .button {
  position: relative;
  display: inline-block;
  width: initial;
  height: 35px;
  padding: 0 10px;
  margin-left: 15px;
  background-color: white;
  color: #4ab2d9;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #4ab2d9;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.comment-form .comment-form__actions .button:hover {
  background-color: #4ab2d9;
  color: #FFF;
}

.panel, .comment-form {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}


.response-group {
  position: relative;
  width: 100%;
  padding: 100px 15px 15px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}
.response-group > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.response-group > header i {
  margin: 0 10px 0 20px;
}
.response-group > header .header-dropdown-trigger {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.response-group > header .header-dropdown-trigger:after {
  content: "";
  font-family: "FontAwesome";
  font-size: 0.5em;
  line-height: 2.5;
  vertical-align: top;
  margin-left: 5px;
}
.response-group > header .header-dropdown-trigger:hover, .response-group > header .header-dropdown-trigger.active {
}
.response-group > .header-dropdown {
  display: none;
  position: relative;
  top: -38px;
  left: -16px;
  width: calc(100% + 32px);
  padding: 15px 1px;
  background: #ebeff1;
}
.response-group > .header-dropdown.expand {
  display: block;
}
.response-group > .header-dropdown ul {
  margin: -15px;
}
.response-group > .header-dropdown li {
  padding: 1em 15px;
  cursor: pointer;
  border-bottom: 1px solid #ebeff1;
}
.response-group > .header-dropdown li h2 {
  display: inline-block;
  margin: 0;
}
.response-group > .header-dropdown li:hover h2 {
  font-weight: 700;
}
.response-group > .header-dropdown li span {
  float: right;
  margin-left: 15px;
  line-height: 1.25;
}
.response-group > .header-dropdown .progress {
  float: right;
  width: 50%;
  margin: 0.25em 0;
}

.progress {
  position: relative;
  width: 100%;
  height: 0.75em;
  border-radius: 2px;
  background-color: #ebeff1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.progress__complete {
  position: absolute;
  top: 0;
  width: 50%;
  height: 0.75em;
  background-color: #5fbc71;
  border-radius: 2px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}

.response {
  position: relative;
}

.response__number {
  position: absolute;
  width: 2rem;
  height: 2rem;
  line-height: 1.8rem;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  color: #89989c;
  border-radius: 50%;
}

.response__title {
  margin-left: 3.25rem;
  margin-bottom: 50px;
}

.post-group {
  margin-left: 3.5rem;
}

.post {
  position: relative;
  padding: 15px 15px 0 80px;
  margin-bottom: 50px;
  border: 1px solid #ebeff1;
  border-bottom: none;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}

.post__author {
  margin-top: 5px;
  margin-bottom: 5px;
}

.post__timestamp {
  margin-top: 0;
}

.post__actions {
  height: 40px;
  width: calc(100% + 95px);
  margin-left: -80px;
  background-color: #ebeff1;
  border-top: 1px solid #ebeff1;
}
.post__actions .button {
  float: left;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
}
.post__actions .button i.solid {
  display: none;
}
.post__actions .button:not(.comment):active i {
  transform: scale(1.2);
}
.post__actions .button:not(.comment-trigger):hover, .post__actions .button:not(.comment-trigger).active {
  background-color: #FFF;
  cursor: pointer;
}
.post__actions .button:not(.comment-trigger):hover i.solid, .post__actions .button:not(.comment-trigger).active i.solid {
  display: inline-block;
}
.post__actions .button:not(.comment-trigger):hover i:not(.solid), .post__actions .button:not(.comment-trigger).active i:not(.solid) {
  display: none;
}
.post__actions .button:not(.comment-trigger):hover.button--approve, .post__actions .button:not(.comment-trigger).active.button--approve {
  color: #5fbc71;
}
.post__actions .button:not(.comment-trigger):hover.button--deny, .post__actions .button:not(.comment-trigger).active.button--deny {
  color: #f26f54;
}
.post__actions .button--flag {
  width: 60px;
  border-right: none;
  font-weight: 400;
}
.post__actions .button--flag i {
  margin-right: 5px;
}
.post__actions .button--fill {
  width: calc(100% - 140px);
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #89989c;
}

.post__comments {
  display: none;
  padding: 15px;
}

.comment-group {
  padding-bottom: 15px;
}
.comment-group .post {
  padding: 15px 15px 0 65px;
  margin-bottom: 15px;
  box-shadow: none;
}
.comment-group .post__avatar {
  height: 35px;
  width: 35px;
}

.comment-form {
  height: 100%;
  padding: 15px 15px 15px 65px;
}
.comment-form textarea {
  width: 100%;
  height: 4em;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: 0 1px 1px #ebeff1 inset;
}
.comment-form textarea:focus {
  outline: none;
}

.comment-form__avatar {
  height: 35px;
  width: 35px;
}

.comment-form .comment-form__actions {
  text-align: right;
}
.comment-form .comment-form__actions .button {
  float: none;
}
.comment-form .comment-form__actions .button--confirm {
  border-color: #5fbc71;
  color: #5fbc71;
}
.comment-form .comment-form__actions .button--confirm:hover {
  background-color: #5fbc71;
  color: #FFF;
}
.comment-form .comment-form__actions .button--light {
  border-color: transparent;
  color: #89989c;
}
.comment-form .comment-form__actions .button--light:hover {
  background-color: #89989c;
  color: #FFF;
}

.post--commenting .post__actions {
  height: initial;
}
.post--commenting .button.comment-trigger span {
  display: none;
}
#addcommenttext{
	width: 100%;
	height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}
.post--commenting .post__comments {
  display: block;
  margin-top: 40px;
}
.containerqa{
	width: 60% !important;
	display: block;
  margin: auto;
	
}

.quephoto{
		width: 200%;
		height: 200%;
    text-align: center;
    border: solid 1px white;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}
.ansphoto{
		width: 150%;
		height: 150%;
    text-align: center;
    border: solid px white;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    
}
/**/
/**/
/**/
/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}

body {
	font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: black;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #393E46 !important;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.date{
    color: white;
}
/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}
.modal-footer{
   text-align: center;
}

.evenFlip{
    color:white;
}

.boldValue{
    font-weight: bold;
    font-size: 18px;
}